
html body {
    width: 100vw;
    height: 200vh;
    position: absolute;
}
@font-face {
    font-family:'AlexBrush-Regular';
    src: url("./AlexBrush-Regular.ttf")format("truetype");
}
.swap{
    font-family: 'AlexBrush-Regular',  sans-serif;
    font-weight: 600;
    font-size: 3rem;
}
main{
    position: relative;
    width: 100vw;
    top: 8vh;
    height: 1500px;
    
}

.effet:hover{
    color:aliceblue !important;
    transform: scale(1.2,1.2);
}
.effet:active{
    color:aliceblue !important;
}
.taille_carousel{
    position: relative;
    top:0;
    left: 0;
    width:100vw; 
    height:auto;
}

.card{
    border:none;
    position: relative;
    transform: translatex(35%);
    max-width:58%;
    height: auto;
}
.card:hover{
    border:none;
    box-shadow:10px 5px 5px darkgray ;
    transition-property: box-shadow,white;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.titre{
    position: relative;
    bottom:40%;
}
.effet1:hover{
    color:aliceblue !important;
    background-color: gray;
}
.effet1:active{
    color:aliceblue !important;
    background-color: black !important;
} 
.effet3:hover{
    color:cyan !important;
    transform: scale(1.2,1.2);
}
.effet3:active{
    color:cyan !important;
} 
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: black black black;
    isolation: isolate;
    box-shadow:5px 3px 3px darkgray ;
    transition-property: box-shadow,white;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
  }

  .nav-tabs .nav-link.active ,
  .nav-tabs .nav-item.show .nav-link {
    color: aliceblue;
    background-color: black;
    border-color: 1px #dee2e6 #dee2e6 #fff;
    box-shadow:5px 3px 3px darkgray ;
    transition-property: box-shadow,white;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
  } 

.effet2{
    color: black !important;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
}
.effet2:hover{
    transform: scale(1.2,1.2) !important;
}
.titre1{
    position: relative;
    top:1.5vh;
}
.recherchebar{
    position:relative;
    top:3vh;
    width: 50vw;
}
footer{
    position: relative;
    bottom: 0px !important;
    margin-top: 10px;
    height: 25px;
    padding-top:50px;
    padding-bottom:50px;
    transition-duration: 0.3s, 0.3s;
}


.editform{
    position: relative;
    top:5vh;
}
.titre2{
    position: relative;
    top:4vh;
}
.text-annonce{
    text-align: justify;
}
.image1{
    max-width: 250px;
    height: auto;
}
.card-text{
    text-align: justify !important;
}
#annonce{
    position: relative;
    width: 100%;
    height: 150%;
}
#separateur{
    position: relative;
    width: 100%;
    height: 30vh;
}
/* gallerie des modals d'annonces  */
.image_galerie{
    opacity: 0.8;
    cursor: pointer;
}
.image_galerie:hover{
    opacity: 1;
    cursor: pointer;
}
#mapid { 
    width: 250px; 
    height: 190px; 
    border:solid 1px;
}
#mapid:active { 
    transform: scale(3,3);
    animation-duration: 30s;
    z-index:20;
    border:solid 1px;
}

a {
    color: black !important;
    text-decoration: none;
}
/* css de la notation */
.checked
{
    color:orange;
}